.link{
    color: #4A5759;
    font-size: 20px;
    font-weight:bolder;
    /* align-items: center; */
    padding: 6%;

}
.topnav{
    background-color: #DEDBD2;
    padding: 2% ;
    text-align: center;
    overflow: hidden;
   
}
#accueil{
    background-color: #B0C4B1;
    padding: 5%;
}
.topnav a:hover{
    background-color: rgb(123, 228, 26);
    color: black;
}
.topnav>.active>link {
    background-color: #C0C0C0;
    color: rgb(188, 20, 20);
}
